.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 75vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forground img {
  margin-bottom: 100px;
}

.download a {
  margin: 50px;
}

.light {
  color: #bbb;
}

.dark {
  color: #454545;
}
